In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dt=pd.read_csv("Diabities.csv")
dt.columns

Index(['Unnamed: 0', 'Pregnancies', 'Glucose', 'blood pressure',
       'skin thickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age',
       'Outcome'],
      dtype='object')

In [ ]:
dt=dt.dropna()

In [ ]:
dt.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
dt.head()

   Pregnancies  Glucose  ...   Age  Outcome
0          6.0    148.0  ...  50.0      1.0
1          1.0     85.0  ...  31.0      0.0
2          8.0    183.0  ...  32.0      1.0
3          1.0     89.0  ...  21.0      0.0
4          0.0    137.0  ...  33.0      1.0

[5 rows x 9 columns]

In [ ]:
dt.isnull().sum()

Pregnancies                 1
Glucose                     1
blood pressure              1
skin thickness              1
Insulin                     1
BMI                         1
DiabetesPedigreeFunction    1
Age                         1
Outcome                     1
dtype: int64

In [ ]:
x=dt.iloc[:,:-1]
y=dt.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=25,random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, r2_score,classification_report
logreg=LogisticRegression(solver='lbfgs',max_iter=1000)
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)
acc_logreg=round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy:" ,acc_logreg)

Accuracy: 96.0